@model Employees.ViewModels.EmployeesViewModel

@{
    ViewData["Title"] = "All Employees shoud be listed here";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">EmpID</th>
            <th scope="col">ProjectID</th>
            <th scope="col">DateFrom</th>
            <th scope="col">DateTo</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Employees.Count; i++)
        {
            <tr>
                @*<th scope="row">@i</th>*@
                <td>@Model.Employees[i].EmpID</td>
                <td>@Model.Employees[i].ProjectID</td>
                <td>@Model.Employees[i].DateFrom</td>
                <td>@Model.Employees[i].DateTo</td>
            </tr>
        }
    </tbody>
</table>

<div class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="GetEmployeePair">GetEmployeePair</a>
</div>


